body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(http://s1.picswalls.com/wallpapers/2016/06/10/awesome-4k-wallpaper_065234330_309.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Arial', sans-serif;
}

.card {
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.483);
    backdrop-filter: blur(0px); /*Set the background color with transparency*/
}

.card-header {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.card-footer {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.form-group label {
    font-weight: bold;
}

.form-control {
    border-radius: 10px;
}

.btn-primary {
    border-radius: 10px;
}

.btn-primary:hover {
    background-color: #0056b3;
}

small.text-danger {
    display: block;
    margin-top: 5px;
}


.card {
    animation: fadeInUp 1s ease-out;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.invalid-feedback {
    display: none;
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
}

.invalid-feedback.active {
    display: block;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}
